.widget-form-container .field input[name="description"] {
    width: 300px;
}

.widget-form-container .chosen-container-single .chosen-single div b {
    margin-top: 8px;
}

.widget-form-container .chosen-container-single .chosen-single {
    height: initial;
}

.widget-form-container .chosen-container-single .chosen-single span {
    height: 36px;
    line-height: 36px;
}