.company-info {
    clear: both;
    margin: 10px 0 0 10px;
}

.company-info .company-logo {
    float: right;
}

.company-info .company-logo img {
    max-width: 300px;
}

.company-info .company-name {
    font-weight: 700;
    margin-bottom: 10px;
}

.company-info .company-phone {
    margin-top: 10px;
}

.company-info .company-iban {
    margin-top: 10px;
}

.client-details {
    float: right;
    margin: 10px;
}

h2.invoice-title {
  clear: both;
  margin-left: 10px;
}

.invoice-description {
    margin-left: 10px;
}

.invoice-details {
    clear: both;
    margin: 10px;
    margin-left: 7px;
}

tr.list-item[data-itemid="-1"] td {
    border: 0px;
}